*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.yaml linguist-detectable=true
*.yaml linguist-language=YAML

*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false
