apiVersion: v1
kind: Secret
metadata:
  name: espocrm-iscsi-chap
  namespace: mrfriendly
type: "kubernetes.io/iscsi-chap"
data:
  node.session.auth.username: "ZXNwb2NybQo="
  node.session.auth.password: "M2ZSQjdYSEI1YkV6ckwK"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: espocrm
  namespace: mrfriendly
spec:
  capacity:
    storage: 1G
  accessModes:
    - ReadWriteMany
  iscsi:
    targetPortal: 192.168.2.4:3260
    iqn: 'iqn.2021-05.intern.array21.dev:espocrm'
    lun: 1
    fsType: 'ext4'
    readOnly: false
    chapAuthDiscovery: true
    chapAuthSession: true
    secretRef:
      name: espocrm-iscsi-chap
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: espocrm
  namespace: mrfriendly
spec:
  volumeName: espocrm
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1G
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: espocrm
  namespace: mrfriendly
  labels:
    app: espocrm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: espocrm
  template:
    metadata:
      labels:
        app: espocrm
    spec:
      containers:
      - name: espocrm
        imagePullPolicy: Always
        image: docker-registry.k8s.array21.dev/espocrm:latest
        ports:
        - containerPort: 80
          name: web
        volumeMounts:
        - name: webdir
          mountPath: /var/www/espocrm
      volumes:
      - name: webdir
        persistentVolumeClaim:
          claimName: espocrm
---
apiVersion: v1
kind: Service
metadata:
  name: espocrm
  namespace: mrfriendly
spec:
  selector:
    app: espocrm
  ports:
  - protocol: TCP
    name: web
    port: 80
    targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: espocrm
  namespace: mrfriendly
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: 150m
    cert-manager.io/cluster-issuer: "letsencrypt-mrfriendly"
spec:
  tls:
  - hosts:
    - espocrm.intern.mrfriendly.nl
    secretName: espocrm-internal-mrfriendly-tls
  rules:
  - host: espocrm.intern.mrfriendly.nl
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: espocrm
            port:
              number: 80
